span{
    width: 100%;
}
.draggable{
    background-color: #ffdc5f;
}
.not-draggable{
    background-color: #eeeeee; 
}
.clipboard-selected{
    background-color: #aaffff;
}
mat-card-content{
    display: flex;
    flex-flow: row nowrap;
    .left{
        flex: 0 1 20%;
        max-width: 40%;
        mat-icon{
            margin: auto;
            width: auto;
        }
        img{
            margin: auto;
            max-width: 80%;
        }
    }

    .right{
        flex: 0 80%;
        p{
            word-break: break-all;
            display: block;
        }
        .details{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
    }
}
mat-card-actions{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.time-warning{
    flex: 35%;
    display: block;
    text-align: right;
    word-wrap: none;
    color: red;
    display: inline;
    mat-icon{
        display: inline;
    }
}