/* You can add global styles to this file, and also import other style files */

html, body {background-color: #dbc9fa; }
body { margin: 0; padding: 2%; font-family: Roboto, "Helvetica Neue", sans-serif; 
display: flex;
flex-flow: column wrap;
justify-content: center;
}
app-root{
    background-color: #dbc9fa; 
}